.wrapper {
    @apply relative px-4 py-4 shadow-[0_6px_16px_rgba(6,12,46,0.45)];
    background-image: url("@/images/ui/header/dashboard-header-bg.svg");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.stickyHeader {
    @apply sticky top-0 z-40 backdrop-blur-md;
}

.body {
    @apply flex items-center justify-between;
}

.userSection {
    @apply flex items-center space-x-4;
}

.userName {
    @apply text-white font-bold text-[14px];
}

.userRank {
    @apply text-space-cyan-400 text-[12px];
}

.userCurrency {
    @apply text-white text-[14px];
}

.actionArea {
    @apply flex items-center gap-2;
}

.avatarShadow {
    @apply drop-shadow-[0_0_22px_rgba(11,171,249,0.35)];
}

